<section class="container-fluid">
  
  <article class="article">

      <div class="row">
        <div class="col-6" >
          <h2 class="article-title">Category POI
            <span class=" d-none d-sm-block" >
              <ul class="breadcrumb">
                <li class="breadcrumb-item active">Category POI</li>
              </ul>
            </span>
          </h2>
        </div>
        <div class="col-6 mt-3" >
          <!-- <a mat-raised-button color="primary" class="btn btn-w-md pull-right" id="btnCreateNewCategoriesPOI" [routerLink]="['/category-poi/create']">
            <i class="material-icons">add_circle_outline</i>
             New Categories POI
            </a>
            <div class="divider divider-sm"></div> -->
        </div>
      </div>
      <div class="box box-default mdl-shadow--2dp">
        <div class="box-header box-dark"> Categories Information</div>

        <div class="p-5">
          <div class="box box-default mdl-shadow--2dp">
            <div class="box-header box-dark"><i class="fa fa-search mr-2"></i>Search Filter</div>
            <div class="box-body">
              <form role="form" autocomplete="off" [formGroup]="searchForm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="txtCategoryPOIName">Categories POI Name</label>
                      <input type="text" class="form-control" formControlName="name" id="txtCategoryPOIName" name="txtCategoryPOIName">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ddlPublishFlag">Publish Flag</label>
                      <angular2-multiselect class="form-control" formControlName="isPublish" id="ddlPublishFlag" name="ddlPublishFlag" [data]="listStatus"
                      [settings]="addDropdownSetting('Publish Flag',listStatus)"></angular2-multiselect>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-right">
                      <button mat-raised-button color="primary" class="btn-w-md mr-2" id="btnSearch" (click)="search()">Search</button>
                      <button type="reset" mat-raised-button color="default" class="btn-w-md" id="btnClear" (click)="clear()">Clear</button>
                    </div>
                  </div>
                </div>
              </form>
        
            </div>
          </div>
        
          <div class="box box-transparent">
            <div class="no-padding-h"> 
              <div class="row">
                <div class="box-header col-6">Show {{ pageOffset }} - {{ pageLimit }} of {{ totalItems }} items</div>
                <div class="col-6">
                  <a mat-raised-button color="primary" class="pull-right"><i
                      class="material-icons">add_circle_outline</i></a>
                </div>
              </div>
             
            </div>

            <div class="no-padding-h">
        
              <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">No</th>
                      <th class="mdl-data-table__cell--non-numeric">Category POI Name</th>
                      <th class="mdl-data-table__cell--non-numeric">Last Update</th>
                      <th class="mdl-data-table__cell--non-numeric">Publish Flag</th>
                      <th class="mdl-data-table__cell--non-numeric">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of categoryList; let i = index">
                      <td class="mdl-data-table__cell--non-numeric">{{ (i + 1) }}</td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <span>{{category.name}}</span>&nbsp; 
                        <i class="fa fa-exclamation-circle text-secondary" aria-hidden="true"></i>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">11 Mar 2019</td>
                      <td class="mdl-data-table__cell--non-numeric"><span class="badge badge-pill badge-success">Active</span>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;" id="btnView" class="btn-icon btn-icon-sm mx-1 btn-success"><i class="fa fa-save"></i></a>
                        <a href="javascript:;" id="btnEdit" class="btn-icon btn-icon-sm mx-1 btn-warning"><i class="fa fa-pencil"></i></a>
                        <a href="javascript:;" id="btnDelete" class="btn-icon btn-icon-sm mx-1 btn-danger"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    <tr *ngIf="categoryList.length == 0">
                      <td class="mdl-data-table__cell--non-numeric text-center" colspan="5">No data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        
              <div class="box-footer row">
                <div class="col-12 col-sm-12 col-md-6">
                  <form class="form-inline mb-2" role="form">
                    <span class="mr-2">Show</span>
                    <select name="itemsPerPage" id="btnShow" class="form-control form-control-sm d-inline" style="width: 60px" [(ngModel)]="itemsPerPage"
                      (change)="selectedPerPage()">
                      <option *ngFor="let amountPage of arrayPerPage" [ngValue]="amountPage" [selected]="perPage == itemsPerPage">
                        {{ amountPage }}
                      </option>
                    </select>
                    <span class="ml-2">items per page</span>
                  </form>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  <pagination-template #p="paginationApi" (pageChange)="pageChanged($event)">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end">
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                          <a class="page-link" (click)="p.setCurrent(1)"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                          <a class="page-link" id="btnPrevious" (click)="p.previous()"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value"
                          [class.active]="p.getCurrent() === page.value">
                          <a class="page-link" id="btnNumber" (click)="p.setCurrent(page.value)">{{ page.label }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="p.isLastPage()">
                          <a class="page-link" id="btnNext" (click)="p.next()"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="page-item" [class.disabled]="p.isLastPage()">
                          <a class="page-link" (click)="p.setCurrent(p.getLastPage())"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                      </ul>
                    </nav>
                  </pagination-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </article>

</section>