<section class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h2 class="article-title">Category POI
        <span class=" d-none d-sm-block">
          <ul class="breadcrumb pt-0">
            <li class="breadcrumb-item"><a [routerLink]="['/category-poi']">Category POI</a></li>
            <li class="breadcrumb-item active">{{pageType}}</li>
          </ul>
        </span>
      </h2>
    </div>
    <div class="col-8 mt-3">
      <div class="pull-right">
        <span *ngIf="pageType == 'View'">
            <button  type="button" mat-raised-button color="warn" class="btn mr-2" (click)="onNavigateByEdit('123456789')"><i
              class="material-icons">edit</i> Edit
            </button>
            <button type="button" style="background-color: #f44336;color:#fff" mat-raised-button class="btn btn-red mr-2"><i
              class="material-icons">delete_forever</i> Delete
            </button>
        </span>
        <span *ngIf="pageType == 'Create' || pageType == 'Edit'">
           <button type="submit" mat-raised-button color="accent" class="btn mr-2" (click)="save()"><i
            class="material-icons">save</i> Save
          </button>
        </span>
       
        <a matTooltip="Cancel"  [routerLink]="['/category-poi']" mat-raised-button class="btn mr-2">
          <i class="material-icons">cancel</i>Cancel
        </a>
        <div class="divider divider-sm"></div>
      </div>
    </div>
  </div>
  <div class="box box-default mdl-shadow--2dp">
    <div class="box-header box-dark"> Category Information</div>

    <div class="p-5">
      <form role="form" autocomplete="off" [formGroup]="categoryForm">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="exampleInputText1">Categories POI Name<span class="text-danger" *ngIf="pageType != 'View'">*</span></label>
              <input type="text" class="form-control" id="exampleInputText1" name="exampleInputText1" formControlName="categoryName">
              <span class="text-danger" *ngIf="(categoryForm.get('categoryName').errors && isSubmit)">
                <div *ngIf="categoryForm.get('categoryName').errors.required || categoryForm.get('categoryName').pristine">
                  Field is required!
                </div>
              </span>
            </div>
          </div>
        </div>
        <hr class="style3">
        <h4>Publish</h4>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="row">
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 pt-1">
                  <label for="exampleInputText1">Publish</label>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <mat-slide-toggle formControlName="isPublish"></mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="style3">
        <br>
        <div class="row">
          <div class="col-8 col-sm-6 col-md-4 col-lg-4"> 
            <h4 class="m-0">Sub-Categories</h4>
          </div>
          <div class="col-4 col-sm-6 col-md-4 col-lg-4 mb-1 text-right">
            <a mat-raised-button color="primary" class="pull-right" (click)="addSubCategory();" *ngIf="pageType != 'View'">
              <i class="material-icons">add_circle_outline</i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
              <table class="mdl-data-table">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric border-right">No</th>
                    <th class="mdl-data-table__cell--non-numeric border-right">Sub-Category Name</th>
                    <th class="mdl-data-table__cell--non-numeric border-right">Publish Flag</th>
                    <th class="mdl-data-table__cell--non-numeric" *ngIf="pageType != 'View'">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="subCategories">
                  <tr *ngFor="let subCategory of subCategoryFormGroup.controls; let i=index" [formGroupName]="i">
                    <td class="mdl-data-table__cell--non-numeric border-right">
                      {{i+1}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric border-right">
                      <div class="mt-1" *ngIf="!getSubCategoryFormGroup(i).controls['editable'].value">
                        {{getSubCategoryFormGroup(i).controls['subCategoryName'].value}}
                      </div>
                      <div class="pr-5" *ngIf="getSubCategoryFormGroup(i).controls['editable'].value">
                        <input type="text" class="form-control" id="subCategoryName" formControlName="subCategoryName" autocomplete="off">
                      </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric text-center border-right">
                      <div class="mt-1" *ngIf="!getSubCategoryFormGroup(i).controls['editable'].value">
                        <span class="badge badge-pill text-capitalize" [ngClass]="getSubCategoryFormGroup(i).controls['isPublish'].value == true ? 'badge-success' : 'badge-danger'">
                          {{getSubCategoryFormGroup(i).controls['isPublish'].value == true ? 'Active': 'Inactive'}}
                        </span>
                      </div>
                      <div *ngIf="getSubCategoryFormGroup(i).controls['editable'].value">
                        <mat-slide-toggle formControlName="isPublish"></mat-slide-toggle>
                      </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric text-center" *ngIf="pageType != 'View'">
                      <a *ngIf="!getSubCategoryFormGroup(i).controls['editable'].value" href="javascript:;"
                      class="btn-icon btn-icon-sm mx-1 btn-warning" (click)="editSubCategory(position,i)"><i
                        class="material-icons md-18">edit</i></a>
                    <a *ngIf="!getSubCategoryFormGroup(i).controls['editable'].value" href="javascript:;"
                      class="btn-icon btn-icon-sm mx-1 btn-danger" (click)="removeSubCategory(position,i)"><i
                        class="material-icons md-18">delete_forever</i></a>
                    <a *ngIf="getSubCategoryFormGroup(i).controls['editable'].value" href="javascript:;"
                      class="btn-icon btn-icon-sm mx-1 btn-save" (click)="saveSubCategory(position,i)"><i
                        class="material-icons md-18">save</i></a>
                    <a *ngIf="getSubCategoryFormGroup(i).controls['editable'].value" href="javascript:;"
                      class="btn-icon btn-icon-sm mx-1 btn-cancel" (click)="cancelSubCategory(position,i)"><i
                        class="material-icons md-18">cancel</i></a>
                    </td>
                  </tr>
                  <tr  *ngIf="subCategoryList.value.length == 0">
                    <td class="mdl-data-table__cell--non-numeric text-center" colspan="4">No data.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <div class="pull-right">
        <span *ngIf="pageType == 'View'">
            <button  type="button" mat-raised-button color="warn" class="btn mr-2" (click)="onNavigateByEdit('123456789')"><i
              class="material-icons">edit</i> Edit
            </button>
            <button type="button" mat-raised-button style="background-color: #f44336;color:#fff" class="btn btn-danger mr-2"><i
              class="material-icons">delete_forever</i> Delete
            </button>
        </span>
        <span *ngIf="pageType == 'Create' || pageType == 'Edit'">
           <button type="submit" mat-raised-button color="accent" class="btn mr-2" (click)="save()"><i
            class="material-icons">save</i> Save
          </button>
        </span>
       
        <a matTooltip="Cancel"  [routerLink]="['/category-poi']" mat-raised-button class="btn mr-2">
          <i class="material-icons">cancel</i>Cancel
        </a>
        <div class="divider divider-sm"></div>
      </div>
    </div>
  </div>
</section>