.page-auth .main-body {
    max-width: 400px;
}
.page-auth .card {
    position: fixed;
    top: 20%;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
}
.page-auth .logo {
    margin-bottom: 15px
}