<section class="container-fluid">
  <article class="article">

    <div class="row">
      <div class="col-4">
        <h2 class="article-title">User
          <span class=" d-none d-sm-block">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">User Management</li>
              <li class="breadcrumb-item active">User</li>
            </ul>
          </span>
        </h2>
      </div>
      <div class="col-8 mt-3">
        <a [routerLink]="['create']" mat-raised-button
          color="primary" class="btn-w-md pull-right" id="btnCreateNewUser"><i
            class="material-icons">add_circle_outline</i> Create New User</a>
        <div class="divider divider-sm"></div>
      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <div class="box-header box-dark"><i class="material-icons">search</i> Search filter</div>
      <div class="box-body">
        <form role="form" [formGroup]="userForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtFirstName">Firstname</label>
                <input type="text" class="form-control" formControlName="firstname" id="txtFirstName"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtLastName">Lastname</label>
                <input type="text" class="form-control" formControlName="lastname" id="txtLastName"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="txtEmail">Email</label>
                  <input type="text" class="form-control" formControlName="email" id="txtEmail"
                    placeholder="">
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="txtMobileNo">Mobile No.</label>
                    <input type="text" class="form-control" formControlName="phonenumber" id="txtMobileNo"
                      placeholder="">
                  </div>
                </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button mat-raised-button color="primary" (click)="onSearch();" class="btn-w-md mr-2"
                  id="btnSearch">Search</button>
                <button mat-raised-button color="default" (click)="onClearSearch();" class="btn-w-md"
                  id="btnClear">Clear</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="box box-transparent">
      <div class="box-header no-padding-h">Show {{offset+1 > rowCount ? rowCount : offset+1 }} -
        {{offset+limit > rowCount ? rowCount : offset+limit}} of {{rowCount}} items</div>
      <div class="no-padding-h">
        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
          <table class="mdl-data-table" style="table-layout: fixed; width: 100%">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric" style="width:10%">No.</th>
                <th class="mdl-data-table__cell--non-numeric pointer" style="width:20%" id="btnSort"
                  (click)="onSort('firstname')">
                  <i *ngIf="sortColumn=='firstname'" [ngClass]="{'fa-sort-amount-asc': sortOrderAsc,
                    'fa-sort-amount-desc': !sortOrderAsc }" class="fa pull-right mt-1" aria-hidden="true"></i>
                  <div class="text-shorten" title="Firstname"> Firstname</div>
                </th>
                <th class="mdl-data-table__cell--non-numeric pointer" style="width:20%" id="btnSort"
                  (click)="onSort('lastname')">
                  <i *ngIf="sortColumn=='lastname'" [ngClass]="{'fa-sort-amount-asc': sortOrderAsc,
                    'fa-sort-amount-desc': !sortOrderAsc }" class="fa pull-right mt-1" aria-hidden="true"></i>
                  <div class="text-shorten" title="Lastname"> Lastname</div>
                </th>
                <th class="mdl-data-table__cell--non-numeric pointer" style="width:20%" id="btnSort"
                  (click)="onSort('email')">
                  <i *ngIf="sortColumn=='email'" [ngClass]="{'fa-sort-amount-asc': sortOrderAsc,
                    'fa-sort-amount-desc': !sortOrderAsc }" class="fa pull-right mt-1" aria-hidden="true"></i>
                  <div class="text-shorten" title="Email">Email</div>
                </th>
                <th class="mdl-data-table__cell--non-numeric pointer" style="width:20%" id="btnSort"
                  (click)="onSort('phonenumber')">
                  <i *ngIf="sortColumn=='phonenumber'" [ngClass]="{'fa-sort-amount-asc': sortOrderAsc,
                    'fa-sort-amount-desc': !sortOrderAsc }" class="fa pull-right mt-1" aria-hidden="true"></i>
                  <div class="text-shorten" title="Mobile No.">Mobile No.</div>
                </th>
                <th class="mdl-data-table__cell--non-numeric" style="width:150px">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="users.length==0">
              <tr>
                <td colspan="6" style="text-align:center" class="mdl-data-table__cell--non-numeric">No Data</td>
              </tr>
            </tbody>
            <tbody *ngIf="users.length!=0">
              <tr *ngFor="let user of users | paginate: { itemsPerPage: limit, currentPage: page , totalItems: rowCount};let i = index">
                <td class="mdl-data-table__cell--non-numeric">{{offset+i+1}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{user.firstname}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{user.lastname}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{user.phonenumber}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <a href="javascript:;" class="btn-icon btn-icon-sm mx-1 btn-primary" [routerLink]="[user._id]" ><i class="fa fa-eye"></i></a>
                  <a href="javascript:;" class="btn-icon btn-icon-sm mx-1 btn-warning" [routerLink]="[user._id,'edit']" ><i class="fa fa-pencil"></i></a>
                  <a href="javascript:;" class="btn-icon btn-icon-sm mx-1 btn-danger"  (click)="onConfirmDelete(user._id)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer row">
          <div class="col-sm-12 col-md-6">
            <form class="form-inline mb-2" role="form">
              <label for="btnShow">Show </label>
              <select class="form-control ml-2 mr-2 form-control-sm" [(ngModel)]="limit"
                (change)="onChangelimit()" id="btnShow" name="exampleSelect">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              <label for="btnShow"> items per page</label>
            </form>
          </div>
          <div class="col-sm-12 col-md-6">
            <nav>
              <pagination-template #p="paginationApi" (pageChange)="onChangePage($event)">
                <ul class="pagination justify-content-end">
                  <li class="page-item" [class.disabled]="p.isFirstPage()">
                    <a (click)="p.setCurrent(1)" class="page-link" tabindex="-1" id="btnFirst"><i
                        class="fa fa-angle-double-left"></i></a>
                  </li>
                  <li class="page-item" [class.disabled]="p.isFirstPage()">
                    <a (click)="p.previous()" class="page-link" tabindex="-1" id="btnPrevious"><i
                        class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                    <a class="page-link" [attr.id]="'btnNumber'+page.label" (click)="p.setCurrent(page.value)"
                      *ngIf="p.getCurrent() !== page.value">
                      {{ page.label }}
                    </a>
                    <a class="page-link" [attr.id]="'btnNumber'+page.label" *ngIf="p.getCurrent() === page.value">
                      {{ page.label }}
                    </a>
                  </li>
                  <li class="page-item" [class.disabled]="p.isLastPage()">
                    <a (click)="p.next()" class="page-link" id="btnNext"><i class="fa fa-angle-right"></i></a>
                  </li>
                  <li class="page-item" [class.disabled]="p.isLastPage()">
                    <a (click)="p.setCurrent(p.getLastPage())" class="page-link" tabindex="-1" id="btnLast"><i
                        class="fa fa-angle-double-right"></i></a>
                  </li>
                </ul>
              </pagination-template>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </article>

</section>