<section class="container-fluid">

    <article class="article">

        <div class="row">
            <div class="col-6">
                <h2 class="article-title">Changelog
                    <span class=" d-none d-sm-block">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:;">AIS MATERIAL</a></li>
                  <li class="breadcrumb-item active">Changelog</li>
                </ul>
              </span>
                </h2>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.7.0 (04/07/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Add menu "User" - CRUD method's examples, including paging, limit, filter. Sorting (only UI, no support from API yet.)</li>
                </ul> 
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.8 (04/06/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : CSS form select options</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.7 (27/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Menu collapsed display size mobile</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.6 (23/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Menu level collapsed is position overlay problem</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.5 (22/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Panel login page form width 350px to be 400px</li>
                    <li>Add table sort icon</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.4 (08/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Pendding input form control small size</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.3 (07/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Resize login page</li>
                    <li>Fixed : Pendding input form control</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.2 (03/05/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Menu collapsed form hover side to be hamburger toggle</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.1 (29/04/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Fixed : Padding menu sub2, sub3 level</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.6.0 (25/04/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Padding menu 1<sup>st</sup> sub level</li>
                    <li>Switch the display of breadcrumb and title page</li>
                    <li>Pagination: Add First page, Last page and change icon next, previous</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.5.0 (10/04/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Padding menu sub level</li>
                    <li>Add input file fields</li>
                    <li>Adjust the row height of the table to be small</li>
                    <li>Change position of "show x - y of z items" to top of table</li>
                    <li>Fix UI Table Improvements</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.4.0 (09/04/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Change navbar color (Green AIS)</li>
                    <li>Add login page</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.3.0 (28/03/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Change toast to sweetalert2 (Cancel toast)</li>
                    <li>Change confirm delete dialog to sweetalert2</li>
                    <li>Reduce size input fields</li>
                    <li>Add validation form</li>
                    <li>Add multiple/single select</li>
                    <li>Add NPM: angular2-multiselect-dropdown ^4.2.1</li>
                    <li>Fix UI Improvements</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.2.0 (26/03/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Add alternate-theme color: alternate-warn</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">VERSION 1.1.0 (22/03/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Add Date Time picker</li>
                    <li>Add Date Time range picker</li>
                    <li>Add Confirm delete modal</li>
                    <li>Add WYSIWYG Module</li>
                    <li>Add Multi Tab</li>
                    <li>Add Switch button</li>
                    <li>Add NPM: quill ^1.3.6</li>
                    <li>Add NPM: ng-pick-datetime ^7.0.0</li>
                    <li>Upgrade typescript version to 3.1.6</li>
                </ul>
            </div>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <div class="box-header box-dark">Version 1.0.0 (19/03/2019)</div>
            <div class="box-body">
                <ul>
                    <li>Initial release</li>
                </ul>
            </div>
        </div>


    </article>

</section>